.about {
    background-color: $color-gray-dark;
    padding: 15rem 0 15rem 0;

    .about__container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .about__block {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .about__description {
                max-width: 44rem;

                

                .about__text {
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1.4rem;
                    line-height: 150%;
                }
            }

            .about__numbers {

                .numbers__items {

                    .numbers__item {
                        margin-bottom: 1.5rem;

                        .numbers_img {
                            margin-bottom: 1.5rem;
                        }

                        .numbers__text {
                            font-family: 'Open Sans Condensed';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 1.6rem;
                        }

                        .numbers__text span {
                            color: $color-gold;
                            margin-right: 0.5rem;
                        }
                    }
                }
            }

            .about__img img {
                border-radius: 5%;
            }
        
             .about__img img {
                width: 100%;
                object-fit: cover;
                transition: all 0.8s;
            }

            .about__img img:hover {
                transform: scale(1.2);
                border-radius: 10%;
            }

            .about__title {
                text-transform: uppercase;
                margin-bottom: 4rem;
                font-family: 'Open Sans Condensed';
                font-weight: 700;
                font-size: 2.1rem;
            }

        }
    }

    
}