.productions {
    background-color: $color-gray-dark;

    .productions__body {

    }

    .productions__gallery {
        display: flex;
        padding-left: 15rem;

        .productions__item {
            width: 25%;
            min-height: 55rem;
            position: relative;
            transition: all 0.6s;

            .productions__photo {
                width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 10;
                object-fit: cover;
            }

            .productions__content {
                padding: 4rem;
                position: relative;
                width: 100%;
                height: 100%;
                z-index: 20;
                background-color: rgba(51, 51, 51, 0.85);
                overflow: hidden;
                transition: all 0.4s;
                opacity: 1;

                .productions__name {
                    font-family: 'Open Sans Condensed' sans-serif;
                    font-weight: 700;
                    font-size: 2.4rem;
                    text-transform: uppercase;
                }
    
                .productions__date {
                    font-family: 'Open Sans Condensed' sans-serif;
                    font-weight: 700;
                    font-size: 1.8rem;
                    text-transform: uppercase;
                    transform: rotate(-90deg);
                    position: absolute;
                    left: -2rem;
                    bottom: 10rem;
                }
            }
            
            .productions__element {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 10rem;
                height: 10rem;
                background-color: $color-gold;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                z-index: 30;
                opacity: 0;
                transition: opacity 0.6s;
                cursor: pointer;
            }

        }

        .productions__item:hover .productions__content{
            opacity: 0;
        }

        .productions__item:hover .productions__element{
            opacity: 1;
        }

        // .productions__item:hover {
        //     transform: scale(1.2);
        //     z-index: 40;
        // }
    }
}

.scale-zoom {
	transform: scale(1.2);
	z-index: 40;
}


