@font-face {
  font-family: "Open Sans Condensed";
  src: url(../fonts/OpenSansCondensed-Bold.ttf) format("ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Open Sans Condensed";
  src: url(../fonts/OpenSansCondensed-Light.ttf) format("ttf");
  font-weight: 300;
}
*, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 10px;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 114rem;
  padding: 0 1.5rem 0 1.5rem;
  margin: 0 auto;
  position: relative;
}

.btn {
  font-family: "Open Sans Condensed" sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  color: #fff;
  background-color: #D1A954;
  border: none;
  cursor: pointer;
  transition: all 0.7s;
}

.btn:hover {
  background-color: #aa873a;
}

.section__title {
  margin-bottom: 10rem;
  font-family: "Open Sans Condensed" sans-serif;
  font-weight: 300;
  font-size: 4.8rem;
  text-transform: uppercase;
  text-align: center;
}

.section__title span {
  color: #D1A954;
}

.header .container {
  position: relative;
}
.header .header__nav {
  padding: 5rem 1.5rem 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}
.header .header__menu {
  display: flex;
  margin-right: 11rem;
  position: relative;
  z-index: 20;
}
.header .header__menu li:not(:last-child) {
  margin-right: 5rem;
}
.header .header__menu a {
  font-family: "Open Sans Condensed" sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  color: #fff;
  transition: all 0.7s;
}
.header .header__menu a:hover {
  color: #D1A954;
  text-shadow: 0px 0px 1rem #D1A954;
}
.header .header__phone {
  padding-bottom: 0.5rem;
  font-weight: 700;
  font-size: 1.6rem;
  color: gold;
  border-bottom: 0.2rem solid #D1A954;
}

.burger__menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 4rem;
  top: 5rem;
  z-index: 30;
}

.burger__menu span {
  display: block;
  height: 0.4rem;
  background-color: #fff;
}

.burger__menu span:nth-child(2) {
  width: 70%;
}

.burger__menu span:nth-child(3) {
  width: 40%;
}

.intro {
  height: 100vh;
  background: linear-gradient(to top, rgba(51, 51, 51, 0.85), rgba(51, 51, 51, 0.85)), url(../img/intro-bg.jpg) no-repeat center/cover;
}
.intro .intro__container {
  display: flex;
  padding-top: 26.7rem;
  position: relative;
  z-index: 10;
}
.intro .intro__block {
  width: 54rem;
  margin-right: 12.5rem;
}
.intro .intro__title {
  font-family: "Open Sans Condensed" sans-serif;
  font-weight: 600;
  font-size: 6rem;
}
.intro .intro__text {
  margin: 5rem 0 5rem 0;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 150%;
  position: relative;
}

.slider {
  width: 37rem;
  height: 51rem;
  position: relative;
  text-align: center;
}
.slider .slider__container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.slider .slider__slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.7s;
}
.slider .slider__img {
  background: linear-gradient(to top, rgba(209, 169, 84, 0.85), rgba(209, 169, 84, 0.85)), url(../img/header-slide-1.jpg) no-repeat center/cover;
  width: 35rem;
  height: 49rem;
  position: relative;
  top: 2rem;
  left: 2rem;
}
.slider .slider__slide img {
  width: 100%;
  position: absolute;
  top: -2rem;
  left: -2rem;
}
.slider .slider__dots {
  margin-top: 1.5rem;
}
.slider .slider__dot {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  cursor: pointer;
  opacity: 0.7;
}
.slider .slider__dot--active {
  background-color: #D1A954;
  opacity: 1;
}
.slider .slider__dot:not(:last-child) {
  margin-right: 0.7rem;
}
.slider .slider__buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: -7rem;
}
.slider .slider__button {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.slider .slider__button:hover .slider__arrow {
  background-color: #D1A954;
}
.slider .slider__button:hover .slider__arrow::after {
  background-color: #D1A954;
}
.slider .slider__button:hover .slider__arrow::before {
  background-color: #D1A954;
}
.slider .slider__button:hover .slider__text {
  color: #D1A954;
}
.slider .slider__arrow {
  width: 4rem;
  height: 0.2rem;
  background-color: #C4C4C4;
  position: relative;
  border-radius: 0.1rem 0 0 0.1rem;
}
.slider .slider__arrow::after {
  content: "";
  position: absolute;
  width: 0.2rem;
  height: 1.25rem;
  top: -0.9rem;
  left: 0.35rem;
  background-color: #C4C4C4;
  transform: rotate(45deg);
  border-radius: 0.1rem;
}
.slider .slider__arrow::before {
  content: "";
  position: absolute;
  width: 0.2rem;
  height: 1.25rem;
  bottom: -0.9rem;
  left: 0.35rem;
  background-color: #C4C4C4;
  transform: rotate(-45deg);
  border-radius: 0.1rem;
}
.slider .slider__arrow:first-child {
  margin-right: 2.5rem;
}
.slider .slider__arrow:last-child {
  margin-left: 2.5rem;
  transform: rotateZ(180deg);
}
.slider .slider__text {
  font-family: "Open Sans Condensed" sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #C4C4C4;
}

.intro__panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 15rem;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(51, 51, 51, 0.75);
}
.intro__panel .panel__text {
  display: flex;
  margin-top: 38rem;
  transform: rotate(-90deg);
  font-family: "Open Sans Condensed" sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #C4C4C4;
  position: relative;
}
.intro__panel .panel__text span:first-child {
  margin-right: 1rem;
}
.intro__panel .panel__text::after {
  content: "";
  width: 8rem;
  height: 0.3rem;
  background-color: #C4C4C4;
  position: absolute;
  left: -10rem;
  bottom: 1rem;
}
.intro__panel .panel__menu {
  display: none;
}
.intro__panel .panel__social {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20rem;
}
.intro__panel .social__link {
  color: #C4C4C4;
  font-size: 2rem;
  transition: all 0.6s;
}
.intro__panel .social__link:not(:last-child) {
  margin-bottom: 2rem;
}
.intro__panel .social__link:hover {
  color: #D1A954;
}
.intro__panel .icon-vk {
  font-size: 1.3rem;
}
.intro__panel .icon-youtube {
  font-size: 1.3rem;
}

.about {
  background-color: #333333;
  padding: 15rem 0 15rem 0;
}
.about .about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .about__container .about__block {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.about .about__container .about__block .about__description {
  max-width: 44rem;
}
.about .about__container .about__block .about__description .about__text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 150%;
}
.about .about__container .about__block .about__numbers .numbers__items .numbers__item {
  margin-bottom: 1.5rem;
}
.about .about__container .about__block .about__numbers .numbers__items .numbers__item .numbers_img {
  margin-bottom: 1.5rem;
}
.about .about__container .about__block .about__numbers .numbers__items .numbers__item .numbers__text {
  font-family: "Open Sans Condensed" sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
}
.about .about__container .about__block .about__numbers .numbers__items .numbers__item .numbers__text span {
  color: #D1A954;
  margin-right: 0.5rem;
}
.about .about__container .about__block .about__img img {
  border-radius: 5%;
}
.about .about__container .about__block .about__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.8s;
}
.about .about__container .about__block .about__img img:hover {
  transform: scale(1.2);
  border-radius: 10%;
}
.about .about__container .about__block .about__title {
  text-transform: uppercase;
  margin-bottom: 4rem;
  font-family: "Open Sans Condensed" sans-serif;
  font-weight: 400;
  font-size: 2.1rem;
}

.productions {
  background-color: #333333;
}
.productions .productions__gallery {
  display: flex;
  padding-left: 15rem;
}
.productions .productions__gallery .productions__item {
  width: 25%;
  min-height: 55rem;
  position: relative;
  transition: all 0.6s;
}
.productions .productions__gallery .productions__item .productions__photo {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  -o-object-fit: cover;
     object-fit: cover;
}
.productions .productions__gallery .productions__item .productions__content {
  padding: 4rem;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(51, 51, 51, 0.85);
  overflow: hidden;
  transition: all 0.4s;
  opacity: 1;
}
.productions .productions__gallery .productions__item .productions__content .productions__name {
  font-family: "Open Sans Condensed" sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  text-transform: uppercase;
}
.productions .productions__gallery .productions__item .productions__content .productions__date {
  font-family: "Open Sans Condensed" sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  text-transform: uppercase;
  transform: rotate(-90deg);
  position: absolute;
  left: -2rem;
  bottom: 10rem;
}
.productions .productions__gallery .productions__item .productions__element {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  background-color: #D1A954;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 30;
  opacity: 0;
  transition: opacity 0.6s;
  cursor: pointer;
}
.productions .productions__gallery .productions__item:hover .productions__content {
  opacity: 0;
}
.productions .productions__gallery .productions__item:hover .productions__element {
  opacity: 1;
}

.scale-zoom {
  transform: scale(1.2);
  z-index: 40;
}

.reviews {
  padding-top: 15rem;
  background-color: #333333;
}
.reviews .reviews__body {
  padding: 0 19rem 0 19rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110rem;
  height: 55rem;
}
.reviews .reviews__body .reviews__img {
  position: absolute;
  top: 0;
  left: 0;
}
.reviews .reviews__body .reviews__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.reviews .reviews__body .reviews__years {
  margin-right: 10rem;
  position: relative;
  font-family: "Open Sans Condensed" sans-serif;
  font-weight: 700;
  font-size: 7.2rem;
  color: #D1A954;
  z-index: 5;
}
.reviews .reviews__body .reviews__description .reviews__rating {
  position: relative;
  z-index: 5;
  margin-bottom: 2.5rem;
}
.reviews .reviews__body .reviews__description .reviews__rating img:not(:last-child) {
  margin-right: 2rem;
}
.reviews .reviews__body .reviews__description .reviews__text {
  position: relative;
  font-family: "Open Sans" sans-serif;
  font-weight: 700;
  font-size: 3.6rem;
  z-index: 5;
}
.reviews .reviews__body::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(51, 51, 51, 0.85);
  z-index: 5;
}

.partners {
  padding-top: 15rem;
  background-color: #333333;
}
.partners .partners__body {
  display: flex;
  flex-direction: column;
}
.partners .partners__body .partners__row {
  display: flex;
  justify-content: space-between;
}
.partners .partners__body .partners__row:not(:last-child) {
  margin-bottom: 8rem;
}

.sponsors {
  padding-top: 15rem;
  padding-bottom: 8rem;
  background-color: #333333;
}
.sponsors .sponsors__body {
  display: flex;
  flex-direction: column;
}
.sponsors .sponsors__body .sponsors__block {
  display: flex;
  justify-content: space-between;
}
.sponsors .sponsors__body .sponsors__block .sponsors__info {
  width: 55%;
  margin-right: 12.5rem;
  font-size: 1.6rem;
}
.sponsors .sponsors__body .sponsors__block .sponsors__info p {
  text-transform: uppercase;
}
.sponsors .sponsors__body .sponsors__block .sponsors__info p:not(:last-child) {
  margin-bottom: 2.5rem;
}
.sponsors .sponsors__body .sponsors__block .sponsors__form form {
  display: flex;
  flex-wrap: wrap;
}
.sponsors .sponsors__body .sponsors__block .sponsors__col {
  width: 30%;
}
.sponsors .sponsors__body .sponsors__block .sponsors__form .sponsors__col:last-child {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  width: 100%;
}
.sponsors .sponsors__body .sponsors__block .sponsors__form .sponsors__col:last-child .sponsors__text {
  max-width: 34rem;
  color: #989898;
  font-size: 1.2rem;
  font-family: "Open Sans";
  line-height: 150%;
}
.sponsors .sponsors__body .sponsors__block .sponsors__col:not(:last-child) input {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 75%;
  padding: 1rem;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 1.2rem;
  color: #989898;
  background-color: rgb(97, 97, 97);
  border: 1px solid rgb(151, 151, 151);
  outline: none;
}
.sponsors .sponsors__body .sponsors__block .sponsors__col:not(:last-child) input:not(:last-child) {
  margin-bottom: 3rem;
}
.sponsors .sponsors__body .sponsors__block .sponsors__form textarea {
  width: 40%;
  height: 10rem;
  padding: 1rem;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 1.2rem;
  color: #989898;
  background-color: rgb(97, 97, 97);
  border: 1px solid rgb(151, 151, 151);
  outline: none;
}

.footer {
  background-color: #333333;
}
.footer .footer__body {
  display: flex;
  justify-content: space-between;
  border-top: 0.1rem solid #565656;
  padding: 3rem 0 3rem 0;
}
.footer .footer__body .footer__text {
  font-size: 1.2rem;
  font-family: "Open Sans";
}

@media screen and (max-width: 1550px) {
  .intro .intro__container {
    padding-top: 15rem;
  }
  .intro__block {
    padding-top: 10rem;
  }
  .panel__text {
    margin-top: 30em;
  }
  .intro .panel__text {
    margin-top: 30rem;
  }
  .intro__text::after {
    bottom: 26rem;
  }
}
@media screen and (max-width: 1440px) {
  html {
    font-size: 10px;
  }
  .intro__container {
    justify-content: space-between;
    padding: 0 7rem 0 7rem;
  }
  .intro .intro__block {
    margin-right: 0;
  }
  .about {
    padding-left: 15rem;
  }
  .about .about__container .about__block .about__description {
    max-width: 40rem;
  }
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 9px;
  }
  .header__nav .header__menu li:not(:last-child) {
    margin-right: 4rem;
  }
  .intro .intro__block {
    padding-left: 1rem;
  }
  .about .about__container .about__block .about__description {
    max-width: 38rem;
  }
}
@media screen and (max-width: 992px) {
  html {
    font-size: 8px;
  }
  .header .header__nav {
    flex-direction: column;
    left: 16%;
  }
  .header .header__menu {
    margin-right: 0;
  }
  .header__nav .header__menu li:not(:last-child) {
    margin-right: 3rem;
  }
  .header__phone {
    margin-top: 5rem;
  }
  .slider {
    display: none;
  }
  .intro__container {
    padding: 0;
    padding-left: 15rem;
    padding-top: 21rem;
  }
  .about .about__container .about__block {
    justify-content: center;
  }
  .about .about__container .about__block .about__description {
    margin-right: 3rem;
  }
  .about__img {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 7px;
  }
  .container {
    width: 100%;
    overflow: hidden;
  }
  .header .header__nav {
    padding: 0;
    right: -50%;
  }
  .header__nav .header__menu {
    display: none;
  }
  .header__nav .header__phone {
    display: none;
  }
  .intro__panel {
    width: 35%;
    height: 100%;
    padding: 14rem 0;
    justify-content: space-between;
    align-items: center;
    z-index: 30;
    background: rgb(51, 51, 51);
    transition: all 0.7s;
    transform: translateX(-100%);
  }
  .intro__panel--active {
    transform: translateX(0%);
  }
  .intro__panel .panel__text {
    display: none;
  }
  .intro__panel .panel__menu {
    display: block;
    position: relative;
  }
  .intro__panel .panel__social {
    margin-top: 0;
    width: 20rem;
    height: 14rem;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .intro__panel .social__link:not(:last-child) {
    margin-bottom: 0;
  }
  .intro__panel .social__link {
    font-size: 3.5rem;
  }
  .intro__panel .icon-facebook {
    font-size: 4.5rem;
    order: 1;
  }
  .intro__panel .icon-instagram {
    font-size: 4.5rem;
    order: 4;
  }
  .intro__panel .icon-vk {
    font-size: 3rem;
    order: 4;
  }
  .intro__panel .icon-youtube {
    font-size: 3.5rem;
    order: 3;
  }
  .panel__nav li {
    margin-bottom: 3.5rem;
  }
  .panel__nav a {
    font-weight: 300;
    font-size: 2.4rem;
    color: #fff;
    transition: all 0.7s;
  }
  .panel__nav a:hover {
    color: #D1A954;
    text-shadow: 0px 0px 1rem #D1A954;
  }
  .burger__menu--cross {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 4rem;
    height: 4rem;
    z-index: 30;
    position: absolute;
    top: -35%;
    right: 0;
  }
  .burger__menu--cross span {
    display: block;
    width: 100%;
    height: 0.2rem;
    background-color: #fff;
    position: relative;
    z-index: 30;
  }
  .burger__menu--cross span:nth-child(1) {
    transform: translateY(1.9rem) rotate(45deg);
  }
  .burger__menu--cross span:nth-child(2) {
    transform: translateY(-2rem) rotate(-45deg);
  }
  .burger__menu {
    display: flex;
  }
}
@media screen and (max-width: 576px) {
  html {
    font-size: 6px;
  }
  .about .about__container .about__block .about__title {
    font-size: 3rem;
  }
  .intro__container {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .intro .intro__block {
    width: 100%;
  }
  .intro .intro__title {
    font-size: 8.5rem;
  }
  .intro .intro__text {
    font-size: 2rem;
  }
  .about {
    padding: 8rem 0 8rem 0rem;
  }
  .about .about__container .about__block {
    flex-direction: column;
    align-items: center;
  }
  .about .about__container .about__block .about__description {
    max-width: 100%;
    text-align: center;
  }
  .about .about__container .about__block .about__description .about__text {
    font-size: 2rem;
  }
  .about .about__numbers {
    margin-top: 5rem;
    text-align: center;
  }
  .about .numbers__items {
    display: flex;
  }
  .about .numbers__item {
    margin-right: 3rem;
  }
  .about .numbers_img {
    display: flex;
  }
}
@media screen and (max-width: 360px) {
  html {
    font-size: 5px;
  }
}/*# sourceMappingURL=style.css.map */