*, h1, h2, h3, h4, h5  {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-size: 10px;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
}

a {
	text-decoration: none;
}

.container {
	max-width: 114rem;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

