@font-face {
	font-family: 'Open Sans Condensed';
	src: url(../fonts/OpenSansCondensed-Bold.ttf) format('ttf');
	font-weight: 600;
}

@font-face {
	font-family: 'Open Sans Condensed';
	src: url(../fonts/OpenSansCondensed-Light.ttf) format('ttf');
	font-weight: 300;
}

$color-gold: #D1A954;
$color-gray-dark: #333333;

*, h1, h2, h3, h4, h5  {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	font-size: 10px;
	font-style: normal;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.wrapper {
	
}

.container {
	max-width: 114rem;
	padding: 0 1.5rem 0 1.5rem;
	margin: 0 auto;
}

.btn {
	font-family: 'Open Sans Condensed' sans-serif;
	font-weight: 600;
	font-size: 1.8rem;
	text-transform: uppercase;
	padding: 1.5rem 4rem;
	color: #fff;
	background-color: #D1A954;
	border: none;
	cursor: pointer;
	transition: all 0.7s;
}

.btn:hover {
	background-color: #aa873a;
}

@import "_header.scss";
@import "_intro.scss";
@import "_about.scss";


@import "_media.scss";
